/* In your App.css or a global CSS file */
@keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .bg-moving-gradient {
    background: linear-gradient(45deg, #4b90ff, #4b90ff 25%, #FF9A9A 75%, #FF9A9A);
    background-size: 200% 200%;
    animation: gradientMove 8s ease 1;
  }
  