/* slider.css */
.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
}

.slider-value {
  margin-left: 10px;
  font-size: 16px;
  color: black;
}
